.homer {
	width: 166.5px;
	height: 125px;
	
}

/* Display top right image */
@media screen
	and (min-width: 1100px)
	and (max-width: 1200px) {
		.homer {
			background:url(homer.jpg) 166.5 0px;
		}

}

/* Display top left image */
@media screen
	and (min-width: 1200px) {
		.homer {
			background:url(homer.jpg) 0 0px;
		}
	}