.homer {
	width: 166.5px;
	height: 125px;

}

/* Display top left image */
@media screen
	and (min-width: 1200px) {
		.homer {
			background:url(homer.jpg) 0px 0px;
		}
	}

/* Display top right image */
@media screen
	and (min-width: 1100px)
	and (max-width: 1200px) {
		.homer {
			background:url(homer.jpg) -166.5px 0px;
		}

}

/* Display second image in left column */
@media screen
	and (min-width: 1000px)
	and (max-width: 1100px) {
		.homer {
			background:url(homer.jpg) 0px -125px;
		}
	}

/* Display second image in right column */
@media screen
	and (min-width: 900px)
	and (max-width: 1000px) {

	}

/* Display third image in left column */
@media screen
	and (min-width: 800px)
	and (max-width: 900px) {

	}

/* Display third image in right column */
@media screen
	and (min-width: 700px)
	and (max-width: 800px) {

	}

/* Display bottom left image */
@media screen
	and (min-width: 600px)
	and (max-width: 700px) {

	}

/* Display bottom right image */
@media screen 
	and (max-width: 600px) {
		.homer {
			background:url(homer.jpg) -166.5px -375px;
		}
	}